body {
    font-family: source-sans-pro;
    background-color: #f2f2f2;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-style: normal;
    font-weight: 200;
}

/* Navigation */
header {
    width: 100%;
    display: -webkit-box;
    background-color: rgba(146, 146, 146, 1.00);
}

/* 
.header-section {
    width: 23%;
    text-align: center;
    float: left;
    margin-top: 35px;
    background-color: #F8F8F8;
    padding-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 3px;
    padding-top: 20px;
    border-bottom: 4px solid #6DC7D0;
} */
.logo {
    color: #fff;
    float: left;
    display: grid;
    width: 100%;
    margin: 1em;
    padding: 1em;
}

nav {
    float: right;
    padding: 1em;
    width: 50%;
    text-align: center;
    margin-right: 3em;
}

header nav ul {
    list-style: none;
    float: right;
}


nav ul li {
    float: left;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding: 1em;
    letter-spacing: 3px;
    font-weight: bold;
    transition: all 0.3s linear;
}

nav ul li:not(:last-child) {
    border-right: 2px solid;
}


nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.hero {
    padding-top: 10%;
    padding-bottom: 10%;
}

.hero_header {
    color: #FFFFFF;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    letter-spacing: 4px;

}

.tagline {
    text-align: center;
    color: #FFFFFF;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.light {
    font-weight: bold;
    color: #717070;
}

.background-placeholder {
    background: url(../images/plaveholder.png);
    background-color: #B3B3B3;
    background-repeat: round;
}


.row {
    width: 100%;
    /* display: -webkit-box; */
}

.experience-box {
    width: 31.3%;
    text-align: center;
    float: left;
    margin-top: 35px;
    background-color: #F8F8F8;
    padding-bottom: 20px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 3px;
    padding-top: 20px;
    border-bottom: 4px solid #6DC7D0;
}

#exhibits {
    width: 100%;
}

#homepage #exhibits > ul {
    justify-content: space-between;
    margin: 15px 0;
    padding: 0;
}
#exhibits > ul {
    display: flex;
    flex-wrap: wrap;
    margin: 7.5px 0;
    padding: 0 7.5px;
    width: 100%;
}
#exhibits > ul {
    color: #fff;
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
/* 
#homepage #exhibits > ul li {
    margin: 15px 0;
    padding: 60px 20px;
    width: calc(33.3333% - 15px);
}

#exhibits > ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7.5px;
    padding: 45px 25px;
    width: calc(50% - 15px);
}
*/
#exhibits > ul li {
    /* background-color: #000; */
    /* background-position: 50% 50%; */
    background-size: cover;
    margin: 10px 0;
    padding: 40px 10px;
    text-align: center;
}

a {
    color: #005789;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

a {
    background-color: transparent;
}

#exhibits > ul .subtitle {
    border-top: 1px solid #fff;
    font-size: 19px;
    line-height: 26px;
    padding: 25px 5px 30px 5px;
}

#exhibits > ul li > h2, #exhibits > ul li > div {
    margin-left: auto;
    margin-right: auto;
    max-width: 470px;
}

#exhibits > ul a.wbstl-btn {
    align-self: center;
}
a.wbstl-btn.wht {
    background-color: #fff;
    color: #000;
}

#exhibits > ul li h2 {
    letter-spacing: 2.4px;
}

#exhibits > ul a h2 {
    color: #fff;
    font-size: 30px;
    letter-spacing: 2.4px;
    line-height: 36px;
    margin: 0 0 15px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 30px;
    margin: 30px 0 0 0;
    text-transform: uppercase;
}

#main-content.wysiwyg .frm_forms .frm_submit button, #full-width.with-form .frm_forms .frm_submit button, a.wbstl-btn, .wbstl-btn {
    background-color: #005789;
    border: 0px;
    border-radius: 0px;
    color: #fff;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    line-height: 24px;
    padding: 16px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s ease-out;
} 

#awards {
    padding: 0 10px;
    text-align: center;
    width: 100%;
}

#awards h2 {
    max-width: calc(100% - 120px);
}

#awards h2 {
    display: inline-block;
    font-size: calc(18px + 12 * (100vw - 320px) / 704);
    letter-spacing: 1px;
    line-height: calc(28px + 12 * (100vw - 320px) / 704);
    margin: 45px auto 0;
    position: relative;
    max-width: 160px;
}

@media(min-width: 768px) {
    #awards h2 {
        letter-spacing: 2px;
    }
}

@media(min-width: 480px) {
    #awards h2 {
        max-width: calc(100% - 120px);
    }    
}

@media(min-width: 1024px) {
    #awards h2 {
        font-size: 30px;
        line-height: 40px;
        margin-top: 15px;
    }
}


#awards .avg-rating {
    color: #f6bd49;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: relative;
}

#awards .review-count {
    color: #9e9e9e;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    font-weight: 700;
}

#awards > ul {
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    margin: 30px 0 0 0;
    padding: 0 0 20px 0;
}
#awards > ul::after {
    background-image: url(../images/badges-images-cap-right.svg);
    left: 100%;
}
#awards > ul::before, #awards > ul::after {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 74px;
    position: absolute;
    top: 15px;
    width: 102px;
}


@media(min-width: 1024px) {
    #awards > ul {
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        position: relative;
    }
}


#awards > ul li {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 20px;
    max-width: 120px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
@media(min-width: 480px) {
    #awards > ul li {
        width: 33%;
    }
}

@media(min-width: 768px) {
    #awards > ul li {
        width: 16.6667%;
    }
}

@media(min-width: 1024px) {
    #awards > ul li {
        font-size: 14px;
        line-height: 20px;
    }
}

#awards > ul li img {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}