#billboard {
    overflow: hidden;
    width: 100%;
    .billboard-content {
        align-items: center;
        background-position: 50% 50%;
        background-size: 762.5px;
        color: $white;
        display: flex;
        flex-direction: column;
        height: 250px;
        justify-content: center;
        padding: 30px 25px;
        text-align: center;
        width: 100%;
    
      h1 {
        margin: -35px auto 0 auto;
        max-width: 560px;
        width: 100%;
      }
    }
  
    &.with-subtitle .billboard-content {
      background-size: cover;
      height: 520px;
  
      h1 {
        margin: -10px 0 20px;
      }
  
      .subtitle {
        font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
        line-height: calc(24px + 8 * ((100vw - 320px) / 1120));
        margin: 0 auto;
        max-width: 450px;
      }
    }
  }
  
  main#index #billboard .billboard-content,
  main#exhibits #billboard .billboard-content {
    background-size: cover;
    height: 520px;
  
    h1 {
      margin: 0 0 15px 0;
    }
  
    .subtitle {
      font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
      line-height: 24px;
      margin: 0 auto;
      max-width: 450px;
    }
  }
  
  main#index.search #billboard .billboard-content {
    height: 250px;
  }
  
  main#single-exhibit #billboard .billboard-content h1 {
    margin-top: -15px;
  }
  
  main#error404 #billboard {
  
    .billboard-content {
      background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
                        url("../images/404.jpg");
      height: 305px;
      position: relative;
  
      svg {
        position: absolute;
        top: 40px;
  
        &.wb-flipped {
          transform: rotateX( 180deg );
          top: 225px;
        }
      }
  
      h1 {
        color: $mint;
        font-size: calc(34px + 56 * ((100vw - 320px) / 1120));
        line-height: calc(36px + 44 * ((100vw - 320px) / 1120));
        margin: -5px 0 15px;
      }
  
      .subtitle {
        font-size: calc(16px + 10 * ((100vw - 320px) / 1120));
        line-height: calc(22px + 14 * ((100vw - 320px) / 1120));
        max-width: 205px;
        padding-bottom: 17px;
        margin: 0 auto;
      }
    }
  }
  
  @media (min-width: 768px) {
    #billboard .billboard-content,
    #billboard.with-subtitle .billboard-content,
    main#index #billboard .billboard-content {
      background-size: 1919px;
  
      h1 {
        max-width: 650px;
      }
    }
  
    main#error404 {
      background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
                        url("../images/404.jpg");
      background-position: 50% 50%;
  
      #billboard .billboard-content {
        background-image: none;
        height: auto;
        padding-top: 152px;
  
        svg {
          top: 100px;
  
          &.wb-flipped {
            top: calc(100% - 35px);
          }
        }
  
        .subtitle {
          letter-spacing: .51px;
          max-width: 280px;
          padding-bottom: 27px;
        }
      }
    }
  }
  
  @media (min-width: 1024px) {
    #billboard .billboard-content {
      height: 450px;
  
      h1 {
        max-width: 1000px;
        width: 64%;
      }
    }
  
    #billboard.with-subtitle .billboard-content,
    main#index #billboard .billboard-content,
    main#exhibits #billboard .billboard-content {
      height: 590px;
    }
  
    main#index.search #billboard .billboard-content {
      height: 400px;
    }
  
    main#error404 #billboard .billboard-content {
      svg {
        top: 115px;
  
        &.wb-flipped {
          top: calc(100% - 25px);
        }
      }
  
      .subtitle {
        max-width: 359px;
        padding-top: 10px;
      }
    }
  }
  
  @media (min-width: 1280px) {
    #billboard .billboard-content h1 {
      font-size: 66px;
      line-height: 75px;
    }
  
    main#error404 #billboard .billboard-content .subtitle {
      max-width: 396px;
    }
  }
  
  @media (min-width: 1440px) {
    main#error404 #billboard .billboard-content {
      padding-top: 300px;
  
      svg {
        top: 250px;
      }
  
      h1 {
        font-size: 90px;
        letter-spacing: 5.14px;
        line-height: 80px;
      }
  
      .subtitle {
        font-size: 26px;
        line-height: 36px;
      }
    }
  }
  